/* ---------------------
reviews area start 
-----------------------*/

@media (max-width: 991.98px) { 
    
}

@media (max-width: 1200.98px) { 
    .bia-nave{
        width: 100%;
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-content: flex-start;
    }

    .bia-top-nav-menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .bia-sub-menu li a {
        margin-left: 0;
    }
    
    .bia-sub-menu {
        text-align: center;
        width: 100%;
        background: var(--Title-Black);
    }
}

@media (min-width: 991.98px) and (max-width: 1199.99px) { 
    .bia-reviews-card{
        flex-wrap: wrap;
    }
}

@media (max-width: 991.98px) { 
    .line-5, .line-4{
        transform: rotate(0deg);
        left: 0;
        top: 12px;
        margin-bottom: 0;
    }

    .line-2{
        display: none;
    }

    .line-4{
        display: block;
        left: -27px;
    }

    .bia-single-service{
        overflow: visible;
    }
}

@media (max-width: 768.98px) { 
    .line-5, .line-4, .line-2{
        transform: rotate(0deg);
        left: 0;
        top: 12px;
        margin-bottom: 0;
    }

    .line-2{
        display: block;
    }

    .line-1, .line-3{
        display: none;
    }

    .line-4{
        display: block;
        left: 0;
    }

    .bia-single-service{
        overflow: hidden;
    }
}

@media (max-width: 575.99px) {

    .bia-fs-60{
        font-size: 40px;
        line-height: 60px;
    }

    .bia-reviews-card{
        flex-wrap: wrap;

    }

}

/* ---------------------
reviews area end 
-----------------------*/